[submodule "FoodDelivery"]
	path = FoodDelivery
	url = https://github.com/ashish1500616/FoodDeliveryLLD.git
[submodule "JsonParserLLD"]
	path = JsonParserLLD
	url = https://github.com/ashish1500616/JsonParserLLD.git
[submodule "Design-Pattern-Practise"]
	path = Design-Pattern-Practise
	url = https://github.com/ashish1500616/Design-Pattern-Practise.git
